<footer>
    <div class="legal_policies">
    <p><a href="/legal_policies/privacy_policy" >Privacy Policy</a></p>
    <p><a href="/legal_policies/shipping_policy" >Shipping Policy</a></p>
    <p><a href="/legal_Policies/returns_policy">Returns Policy</a></p>
    <p><a href="/legal_Policies/terms_of_use">Terms Of Use</a></p>
</div>
    <p>&copy; 2025 My E-commerce Store. All rights reserved.</p>
</footer>